## comment

comment: it used to give the discription to your code . that make the code readable and understandable.
    this comment is ignored by interpreter.

## type of comments

- single line comments
- multiline comments

single line : #

In [1]:
#this code displaying somthing
print("hello") # print() is in built function which is used to display hello here 
print("hi")

hello
hi

'''multi lines'''

In [2]:
'''this is my first programme
where i displaying somthing'''
print("hello")
print("how are you")

hello
how are you

## variable: it is a container which is used to hold the data
or i can say that it is a named memory location

# how to create the variable

name of the variable = value

In [6]:
a=4

In [7]:
a

4

In [8]:
a

4

4

# access  the variable 
 just use name of the varible

# id() : it tell the address of the value

In [9]:
id(a)

1784010703184

# identifier: naming rules of the variable/function

- rule 1: it should not start with digit. we can start with letter or one special cheracter i.e

- rule 2: it allows any letters/digits/_any where
- rule 3: it could be of any length
- rule 4: it should not be keywords 

  keywords: special words /reserved words which has implicit meaning

In [22]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
 if is a keyword

In [14]:
Av=3

In [17]:
av

NameError: name 'av' is not defined

In [18]:
 _balmeet=90

In [19]:
_balmeet1233=90

In [20]:
_balmeet1233

90

NameError: name 'av' is not defined

## literal

In [26]:
a=80    ## here 80 is value/literal

## data type: it signifies the type of data that python support

## numeric

- int
- float
- complex

In [28]:
a=90
print(a)
print(type(a))

90
<class 'int'>

## float : decimal

In [29]:
a=90.8
print(a)
print(type(90.8))

90.8
<class 'float'>

## complex : the complex () function returns a complex number by specifying a real number and an imaginary number

In [30]:
a=90+8j
print(a)
print(type(a))

(90+8j)
<class 'complex'>

# sequence

# #sequence is the generic term for an ordered set.

- srting

- list
- tuple

- using"
- using""
- using"""

In [4]:
a= 'madrid1122 solutions'
print(a)
print(type(a))

madrid1122 solutions
<class 'str'>

In [5]:
b="madrid solution"
print(b)
print(type(b))

madrid solution
<class 'str'>

In [6]:
## task 1 : how'r u

s="how'r u"
print(s)
print(type(s))

how'r u
<class 'str'>

In [8]:
#using ''''''
a="""hi how r u
python is intresting
"""

print(a)
print(type(a))

hi how r u
python is intresting

<class 'str'>

## list

 - list are used to stored multiple items in a single varible.

In [3]:

student=[23,"khushi",400.25,"f",22]    ##hetrogeneous
print(student)
print(type(student))

[23, 'khushi', 400.25, 'f', 22]
<class 'list'>

In [6]:
marks=[50,90,80,70]    ##homogeneous
print(marks)
print(type(marks))

[50, 90, 80, 70]
<class 'list'>

In [ ]:
## tuple : is same as list but  tuple use normal ()

In [7]:
t=(12,"leena","f")
print(t)
print(type(t))

(12, 'leena', 'f')
<class 'tuple'>

## type casting : type conversion

In [8]:
# str to int

In [9]:
s="80"
print(type(s))
s1=int(s)
print(s1)
print(type(s1))

<class 'str'>
80
<class 'int'>

In [12]:
s="madrid"
print(type(s))
s1=int(s)
print(s1)
print(type(s1))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'madrid'

In [13]:
#int to str
a=90
print(type(a))
a1=str(a)
print(a1)
print(type(a1))

<class 'int'>
90
<class 'str'>

In [14]:
#float to str

a=90.7
print(type(a))
a1=str(a)
print (a1)
print(type(a1))

<class 'float'>
90.7
<class 'str'>

In [16]:
#str to float

a="90.73345"
print(type(a))
a1=float(a)
print(a1)
print(type(a1))

<class 'str'>
90.73345
<class 'float'>

In [17]:
#str to int

s="70.90"
print(type(s))
s1=float(s)
s2=int(s1)
print(s2)
print(type(s2))

<class 'str'>
70
<class 'int'>

In [20]:
l=[12,13,14]
print(l)
print(type(l))
t=tuple(l)
print(l)
print(type(l))

[12, 13, 14]
<class 'list'>
[12, 13, 14]
<class 'list'>

# boolean :true/false

### it used to represent the truth value of an expression.

In [21]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [22]:
a=int(a)
print(a1)
print(type(a1))

90.73345
<class 'float'>

In [24]:
a1=str(a)
print(a1)
print(type(a1))

1
<class 'str'>

# input and output

In [27]:
print(12)

12

print(12,"hello","python",80.9)

In [30]:
print(12,"hello","python",80.9,sep="-")

12-hello-python-80.9

In [33]:
print(12,"hello","python",80.9,sep="-", end="@@@@@")
print("how r u", end="        " )
print("helozzzzzz")

12-hello-python-80.9@@@@@how r u        helozzzzzz

# input();

In [ ]:
a=input("enter the number")  ## it take the input from user and consider it in the from of string

# operators

- arthematic  operator
- relational operator
- logical  operator
- bit wise  operator
- shorthand  operator
- special  operator

      -membership
      - equality

# arthematic operator

In [5]:
number1=int(input("enter the first number"))
number2=int(input("enter the first number"))
add=number1+number2
sub=number1-number2
mult=number1*number2
div=number1/number2
f_div=number1//number2
power=number1**number2

print("the addition of ",number1,"and",number2,"is",add)
print("the subtraction of ",number1,"and",number2,"is",sub)
print("the multiplication of ",number1,"and",number2,"is",mult)
print("the division of ",number1,"and",number2,"is",div)
print("the floor division of ",number1,"and",number2,"is",f_div)
print("the power of ",number1,"and",number2,"is",power)

enter the first number4
enter the first number2
the addition of  4 and 2 is 6
the subtraction of  4 and 2 is 2
the multiplication of  4 and 2 is 8
the division of  4 and 2 is 2.0
the floor division of  4 and 2 is 2
the power of  4 and 2 is 16

# relational operator

In [1]:
number1=int(input("enter the first number"))
number2=int(input("enter the first number"))
print("the grater",number1>number2)
print("the grater or equal",number1>=number2)
print("the less",number1<number2)
print("the less or equal",number1>=number2)
print("the equal",number1==number2)
print("the not equal",number1!=number2)

enter the first number4
enter the first number6
the grater False
the grater or equal False
the less True
the less or equal False
the equal False
the not equal True

# logical operator

- or 
- and
- not

In [9]:
print("or  ",True or False)
print("or  ",True or False)
print("or  ",False or True)
print("or  ",False or False)

or   True
or   True
or   True
or   False

In [11]:
print("and  ",True or False)
print("and  ",True or True)
print("and  ",False or False)
print("and  ",False or False)

and   True
and   True
and   False
and   False

In [12]:
not(True)

False

In [13]:
number1=int (input("enter the first number"))
number1=int (input("enter the second number"))
number1 or number2

enter the first number5
enter the second number4

4

# bit wise : not recommended for data analytics

# shorthans:x+=y:
# expanded : x=x+y

# membership:

- in 
- not in

In [15]:
"m" in "madrid"

True

In [16]:
"m" not in "madrid"

False

In [17]:
"1" in "12345"

True

In [18]:
l=["khushi","tushar","pawan"]
l

['khushi', 'tushar', 'pawan']

In [19]:
"devender" in l

False

In [20]:
"khushi" in l

True

In [21]:
"paw" in l

False

In [22]:
"paw" in "pawan"

True

# is and is not

In [24]:
a=10
b=9
print(id(a))
print(id(b))
a is not b

1607113572880
1607113572848

True

### Q:
Raj has 24 candies, simran has 34 candies, aditya has 21 candies . Candies would be equally
distributed
How many candies need to be distributed to each of them and remaning candies need to given
to diksha ?

In [7]:
r=24
s=34
a=21
total=r+s+a
ec=total//3
print("each will get",ec,"candies")
rem=total%3
print("diksha wil get",rem,"candies")

each will get 26 candies
diksha wil get 1 candies

## escape sequance
escape is a special chercaters if we use them as a part of string then they dont represent themself but they change the behaviour of strings

In [9]:
print("hello,,,,,balmeet")

hello,,,,,balmeet

In [10]:
print("balmeet\nhello")

balmeet
hello

In [11]:
# task 1: hello\nstudent

In [13]:
print("hello\\nstudent")

hello\nstudent

# \t: generates the tab

In [14]:
print("hello\tbalmeet")

hello	balmeet

In [15]:
print("hello\\tbalmeet")

hello\tbalmeet

# task: how'r u

In [17]:
print('how\'ru')

how'ru

task 2: how"ru

In [18]:
print("how\"ru")

how"ru

# \b: backspace

In [21]:
print("madridsolution\bs")

madridsolutions

In [22]:
print("madridsolution\\bs")

madridsolution\bs

or

In [26]:
print(r"madridsolution\bs")   ## r making raw string

madridsolution\bs

In [27]:
print("hello\\balmeet")

hello\balmeet